<template>
  <main>
    <section>
      <b-container>
        <b-col
          id="page-header"
          lg="8"
          class="mx-auto mt-4"
        >
          <h2 v-html="$t('faq.title')"></h2>
          <p v-html="$t('faq.clic')"></p>
        </b-col>
      </b-container>
    </section>

    <section>
      <b-container>
        <b-row>
          <b-col
            lg="8"
            class="mx-auto mt-4"
          >
            <div
              v-for="key in Object.keys($t(`faq`))
                .filter(i => !['title', 'clic', 'crowdfunding'].includes(i))"
              :id="key"
              :key="key"
              class="list-group"
            >
              <h2 v-html="$t(`faq.${key}.title`)"></h2>
              <div class="content-wrapper">
                <div
                  v-for="id in Object.keys($t(`faq.${key}`)).filter(i => !['title'].includes(i))"
                  :key="id"
                  :class="`list-group-item ${toggle === id ? 'active' : ''}`"
                >
                  <a
                    class="text-muted"
                    :href="`#${id}`"
                    @click="toggle = id;"
                  >
                    <svg-icon
                      v-show="toggle === id"
                      name="chevron-up"
                      variant="float-right text-muted"
                    />
                    <svg-icon
                      v-show="toggle !== id"
                      name="chevron-down"
                      variant="float-right text-muted"
                    />
                  </a>
                  <h3
                    class="h4 list-group-item-heading"
                    @click="toggle = id;"
                  >
                    <a :id="id"></a>
                    <span v-html="$t(`faq.${key}['${id}'].q`)"></span>
                  </h3>
                  <div
                    v-show="id === toggle"
                    class="list-group-item-text"
                    v-html="$t(`faq.${key}['${id}'].a`)"
                  ></div>
                </div>
              </div>
            </div>
          </b-col>
        </b-row>
      </b-container>
    </section>
  </main>
</template>

<script>
export default {
  data() {
    return {
      toggle: window.location.hash.replace(/^#/, ''),
    };
  },
  methods: {
    toggleAccordion(section, index) {
      if (this[section][index]) {
        this.$set(this[section], index, false);
      } else {
        this[section] = this[section].map((v, i) => i === index);
      }
    },
  },
};
</script>

