<template>
  <header id="header">
    <b-container>
      <b-row
        align-h="between"
        align-v="center"
      >
        <b-col md="5">
          <h1>
            <router-link :to="`/${$t('lang')}/`">
              <img
                alt="Mobilizon"
                height="45"
                :src="`${$t('baseurl')}img/logo-mbz.svg`"
              />
            </router-link>
          </h1>
          <p
            class="devby"
            v-html="$t('home.devby')"
          ></p>
        </b-col>
        <b-col md="7">
          <b-nav
            class="float-right list-unstyled"
            pills
          >
            <b-nav-item :to="`/${$t('lang')}/news`">
              {{ $t('menu.news') }}
              <b-badge
                pill
                variant="light"
                v-text="Object.keys($t('news.blocs')).length"
              />
            </b-nav-item>
            <b-nav-item :to="`/${$t('lang')}/faq`">
              {{ $t('menu.faq') }}
            </b-nav-item>
            <b-nav-item :href="$t('git.mobilizon')">
              Git
            </b-nav-item>
            <!--
            <b-nav-item :to="`/${$t('lang')}/medias`">
              {{ $t('menu.medias') }}
            </b-nav-item>
            <b-nav-item :to="`/${$t('lang')}/hall-of-fame`">
              {{ $t('menu.hall-of-fame') }}
            </b-nav-item>
            -->
            <b-nav-text
              class="nav-item"
              tag="li"
            >
              <I18n />
            </b-nav-text>
          </b-nav>
        </b-col>
      </b-row>
    </b-container>
  </header>
</template>

<script>
import I18n from './I18n.vue';

export default {
  components: {
    I18n,
  },
};
</script>

